Задача 1
Даны значения величины заработной платы заемщиков банка (salary) и значения их поведенческого кредитного скоринга (scoring):

salary = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]
scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]

1. Найдите ковариацию этих двух величин: сначала без использования специальных функций, а затем с помощью функции numpy.cov. Полученные значения должны быть равны.
2. Найдите коэффициент корреляции Пирсона: с помощью ковариации и средних квадратических отклонений двух признаков, а затем с помощью специальных функций из библиотек numpy и pandas.

In [21]:
import math
import numpy as np
import pandas as pd

In [22]:
salary = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
scoring = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])
mean_salary = salary.mean()
mean_scoring = scoring.mean()
mean_salary, mean_scoring

(101.4, 709.9)

In [23]:
cov = ((salary - mean_salary)*(scoring - mean_scoring)).sum()/(len(salary)-1)
cov

10175.37777777778

In [24]:
np.cov(salary, scoring, ddof=1)

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

In [25]:
PiersonCoeff = cov/(np.std(salary, ddof=1)*np.std(scoring, ddof=1))
PiersonCoeff

0.8874900920739164

In [26]:
df = pd.DataFrame({'Salary':salary,'Scoring':scoring},columns=(['Salary','Scoring']))
df[['Salary','Scoring']].corr()

          Salary  Scoring
Salary   1.00000  0.88749
Scoring  0.88749  1.00000

In [27]:
np.corrcoef(salary, scoring)

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

Задача 2
Измерены значения IQ выборки студентов, обучающихся в местных технических вузах:

131, 125, 115, 122, 131, 115, 107, 99, 125, 111

Известно, что в генеральной совокупности IQ распределен нормально. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [28]:
w = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])
alfa = 1 - 0.95
n = len(w)
M = w.mean()
std = np.std(w)
t = 2.2622 #взято из таблицы Стьюдента для 1-0.05/2 и n-1 степеней свободы

In [29]:
Mminus = M - (t * std / math.sqrt(n))
Mplus = M + (t * std / math.sqrt(n))
print(Mminus, Mplus)

110.94307703411864 125.25692296588134

Задача 3
Известно, что рост футболистов в сборной распределен нормально с известной дисперсией 25. На выборке объёма 27 выборочное среднее составило 174.2. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [30]:
m0 = 174.2
D = 25
n = 25
alfa = 1 - 0.95
std = np.sqrt(D)
Z = 1.96 #взято из Z таблицы для alfa/2 = 0.025

In [31]:
LeftRange = (m0 - Z) / (std / np.sqrt(n))
RightRange = (m0 + Z) / (std / np.sqrt(n))
print(LeftRange, RightRange)

172.23999999999998 176.16